@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body,
html {
    background: #D90C43;
}

.btn-open-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D90C43;
    display: block;
    background: white;
    /*padding: 20px 50px;*/
    /*border-radius: 50px;*/
}

.especialidades {
    width: 250px;
    height: 220px;
    position: relative;
}

.especialidades h2 {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.especialidades img {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 200px;
    height: 200px;
}

.especialidades-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(1,72,94);
}

.especialidades-overlay:hover {
    opacity: 0.8;
}

.container-all {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
}

.container-all:target {
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
}

.container-all:target .popup {
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}

.popup {
    width:500px;
    max-height: 600px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
    border-radius: 4px;
}

.img {
    background-image: url("../img/hamburguesa-de-comida-rapida.png");
    background-color: #302f3355;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    height: 40%;
    margin: 30px auto 0px auto;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
}

.container-text {
    height: 60%;
    padding: 50px;
    overflow-y: auto;
}

.container-text h2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.container-text p {
    margin-top: 20px;
    font-size: 16px;
}

.container-text ul {
    margin: 20px 0px 0px 30px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.btn-close-popup {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    /*background: black;*/
    color: rgb(1,72,94,0.8);
    /*order-radius: 50%;*/
    line-height: 10px;
    padding: 20px;
    font-weight: 600;
}

.btn-close-popup:hover {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgb(1,72,94,0.8);
    color: white;
    /*border-radius: 4px;*/
    line-height: 10px;
    padding: 20px;
    font-weight: 600;
}

/*@media screen and (max-width: 900px) {
    .popup {
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }

    .img {
        width: 100%;
        height: 40%;
    }

    .container-text {
        width: 100%;
        height: 60%;
        padding: 80px;
    }

    .container-text h2 {
        font-size: 20px;
    }

    .container-text p {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .container-text {
        padding: 20px;
    }

    .container-text h2 {
        font-size: 20px;
    }

    .container-text p {
        font-size: 12px;
    }
}*/